// Sass file that assigns various colors to various elements, using 2 Sass variables
$color-3D: #3D3D3D;
$color-6D: #6D6D6D;

body, p {
	color: $color-3D;
}

body, h2 {
	background-color: $color-6D;
}
