// Use nested decorations to apply styles to the body and p tags. No margin or padding in the body tags, 10px margin to p tags inside of body
body {
	margin: 0px;
	padding: 0px;
	p {
		margin: 10px;
	}
}
